.banner-container{
    position: relative;
}
.banner-wrapper{
    width: 100%;
    
    aspect-ratio: 3/1;
    position: relative;
    overflow: hidden;
}
.banner-wrapper img{
    width: 100%;
    aspect-ratio: 3/1;
    /* height: 640px;
    object-fit: cover; */
    position: absolute;
}
.banner-enter{
    transform: translateX(100%);
}
.banner-enter-active{
    transform: translateX(0);
    transition: transform 1000ms;
}
.banner-exit{
    transform: translateX(0);
}
.banner-exit-active{
    transform: translateX(-100%);
    transition: transform 1000ms;
}
.dot-container{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.dot-notactive{
    color: rgb(221, 221, 221);
}

.feature-container{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 30px;
}
.feature-info{
    display: grid;
    column-gap:15px;
    grid-template-columns: 390px 390px 390px;
    grid-template-rows: 430px;
    margin-top: 30px;
}
.feature .feature-image{
    height: auto;
    width: 100%;
}
.feature p, .feature h4 {
    padding: 0 15px;
}
.title{
    position: relative;
}
.title h3{
    text-decoration: none;
    text-align: center;
}
.title h4{
    text-align: center;
}
.title a{
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: rgba(0,91,170,255);
}
@media only screen and (max-width: 1200px){
    .feature-container{
        width: 100%;
    }
    .feature-info{
        column-gap:1.5%;
        grid-template-columns: 32.3% 32.3% 32.3%;
    }
}
@media only screen and (max-width: 1024px){
    .feature-info{
        grid-template-rows: 350px;
    }
}
@media only screen and (max-width: 768px){
    .feature-info{
        grid-template-columns: 100%;
        row-gap: 12px;
        grid-template-rows: auto auto auto;
    }
    .feature{
        display: grid;
        grid-template-columns: 30% 70%;
    }
}
/* layer2 */
.banner2{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.operation-relative{
    position: relative;
    /* height: 779px; */
}
.operation-components{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.operation-container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.operation-info{
    /* width: 74.6875%;
    height: 66.11%; */
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 288.75px 288.75px 288.75px;
    grid-template-rows: 250px 250px;
}
.operation-header{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 30% 70%;
}
.operation-header h4{
    margin-top: 0;
}
.operation{
    padding: 15px;
    border-radius: 0.75rem;
}
.operation p{
    color: rgb(124, 124, 124);
}
.operation-container .iphone{
    position: absolute;
    top: -50px;
    left: -100px;
}
.operation-title{
    width: 75%;
    text-align: center;
}
.button{
    width: 75%;
}
.button button{
    display: block;
    margin: 0 auto;
}
button.primary{
    background-color: rgba(246,139,31,255);
    border: 2px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold;
}

@media only screen and (max-width:1200px) {
    .operation-container{
      width: 100%;
    }
    .operation-container .iphone{
      width: 30%;
      left: -15px;
    }
    /* .operation-header img{
        width: 100%;
    } */
    .operation-info{
        width: 66.66%;
        grid-row-gap: 1.25%;
        grid-template-columns: 48.5% 48.5%;
        grid-template-rows: 250px 250px 250px;
        overflow-y: scroll;
    }
    button.primary{
        font-size: 11px;
    }
    ::-webkit-scrollbar {
        width: 15px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(177, 177, 177); 
        border-radius: 5px;
    }
  }
  @media only screen and (max-width:768px) {
    .operation-container{
        height: 110%;
    }
    .operation-container .iphone{
        display: none;
      }
    .operation-info{
        width: 100%;
        grid-gap: 1.5%;
        grid-template-columns: 49.25% 49.25%;
        grid-template-rows: 200px 200px 200px;
    }
    .operation-title{
        width: 100%;
    }
    .button{
        width: 100%;
    }
  }
  /* @media only screen and (max-width:600px) {
    .operation-container{
        height: 120%;
    }
    .operation-info{
        width: 80%;
        margin: 0 auto;
        grid-template-columns: 100%;
        grid-template-rows: 180px 180px 180px 180px 180px 180px;
    }
  } */

.advantage-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.advantage-info{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto auto;
    grid-template-rows:  320px 320px;
}
.advantage{
    padding: 15px;
    border-radius: 0.75rem;
    text-align: center;
}

@media only screen and (max-width:1200px) {
    .advantage-container{
        width: 100%;
    }
    .advantage-info{
        grid-gap: 1.5%;
        grid-template-columns: 32.33% 32.33% 32.33%;
        grid-template-rows: 280px 280px;
        
    }
    .advantage img{
        width: 50%;
    }
}
@media only screen and (max-width:768px) {
    .advantage-info{
        grid-template-columns: 49.25% 49.25% ;
        grid-template-rows: 250px 250px;
    }
}
@media only screen and (max-width:600px) {
    .advantage-info{
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px;
    }
    .advantage img{
        width: 30%;
    }
  }


.banner3{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.hospital-slider{
    position: relative;
    height: 160px;
    width: 100%;
}
.hospital-wrapper{
    position: relative;
    width: 100%;
    height: 105%;
    overflow: hidden;
}
.hospital-info{
    width: 100%;
    height: 160px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 288.75px 288.75px 288.75px 288.75px 288.75px 288.75px 288.75px;
    grid-template-rows: 100%;
    position: absolute;
}

.hospital img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.hospital{
    border-radius: 0.75rem;
    width: 100%;
    /* text-align: center; */
    overflow: hidden;
    position: relative;
}
.number-employee{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.network-relative{
    /* height: 637px; */
    position: relative;
}
.network-components{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.network-container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.number-employee h3, .number-employee h4, .number-employee p{
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 15px;
}
.number-employee div h3{
    font-size: 60px;
    text-align: center;
}

.chevron-left, .chevron-right{
    border: none;
    background-color: transparent;
    position: absolute;
}
.hospital-slider .chevron-left{
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-100%) translateX(-15px);
}
.hospital-slider .chevron-right{
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(100%) translateX(15px);
}
@media only screen and (max-width:1400px) {
    .hospital-slider .chevron-left{
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .hospital-slider .chevron-right{
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
@media only screen and (max-width:1200px) {
    .network-container{
        width: 100%;
    }
    .hospital{
        height: 100%;
    }
    .hospital-info{
        grid-template-columns: 23.3% 23.3% 23.3% 23.3% 23.3% 23.3% 23.3%;
    }
}
@media only screen and (max-width:1024px) {
    .number-employee h3, .number-employee h4, .number-employee p{
        margin-bottom: 10px;
    }
    .number-employee div h3{
        font-size: 45px;
    }
    .hospital-slider{
        height: 120px;
    }
    .hospital-info{
        height: 120px;
    }
}
@media only screen and (max-width:768px) {
    .number-employee div h3{
        font-size: 24px;
    }
    .number-employee h3, .number-employee h4, .number-employee p{
        margin-bottom: 0px;
    }
    .hospital-info{
        grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    }
}

.doctor-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}
.doctor-container .title{
    display: flex;
    justify-content: space-between;
}
.doctor-container .underline img{
    margin-left: 0;
}
.doctor-grid{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 390px auto;
    grid-template-rows: 460px;
}
.doctor-relative{
    position: relative;
    width: 100%;
    height: 460px;
}
.doctor-wrapper{
    width: 100%;
    height: 475px;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
.doctor-info{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 390px 390px 390px 390px;
    grid-template-rows: 460px;
    position: absolute;
}
.doctor-info article{
    width: 100%;
    height: 100%;
    margin-right: 15px;
    border-radius: 0.5rem;
}
.doctor-info img{
    width: 90%;
}
.doctor-relative .chevron-left{
    left: 0;
    top: 50%;
    transform: translate(-100%,-50%) translateX(-15px);
}
.doctor-relative .chevron-right{
    right: 0;
    top: 50%;
    transform: translate(100%,-50%) translateX(15px);
}
.doctor{
    /* padding: 0 15px; */
    text-align: center;
}
@media only screen and (max-width:1200px) {
    .doctor-container{
        width: 100%;
        height: 350px;
    }
    .doctor-relative{
        height: 300px;
    }
    .doctor-wrapper{
        height: 105%;
    }
    .doctor-grid{
        column-gap: 1.25%;
        grid-template-columns: 32.91% auto;
    }
    .doctor-info{
        height: 95%;
        grid-template-columns: 49.3% 49.3% 49.3% 49.3%;
        grid-template-rows: 100%;
    }
    .doctor-relative .chevron-left{
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .doctor-relative .chevron-right{
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
@media only screen and (max-width:768px) {
    .doctor-relative{
        height: 250px;
    }
    .doctor-grid{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
}

.operation{
    border-left: 0px;
    transition: border-left 500ms;
}
.operation:hover{
    border-left: 15px solid rgba(246,139,31,255);
}

.app-feed-relative{
    margin-top: 200px;
    position: relative;
}
.banner4{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.app-absolute{
    position: absolute;
    top: -100px;
    width: 100%;
}
.app-container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ef{
    position: absolute;
    bottom: 30px;
}
.feedback-components{
    position: absolute;
    bottom: -80px;
    width: 100%;
}
.feedback-container{
    width: 1004px;
    height: 494px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 0.5rem;
}

.feedback-container .chevron-left{
    left: 0;
    top: 50%;
    transform: translate(-100%,-50%) translateX(-15px);
}
.feedback-container .chevron-right{
    right: 0;
    top: 50%;
    transform: translate(100%,-50%) translateX(15px);
}
.feedback-slider{
    width: 100%;
    height: 100%;
}
.feedback-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.feedback{
    width: 191px;
    height: 191px;
    object-fit: cover;
    border-radius: 6rem;
    margin: 0 15px;
}
.feedback-info{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.feedback-info .img-left, .feedback-info .img-right{
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 6rem;
}
.feedback-image{
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-player{
    width: 880px;
    height: 495px;
}
.download{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
@media only screen and (max-width:1400px){
    .app-container{
        width: 100%;
    }
    .feedback-container{
        width: 70%;
        height: 400px;
    }
    .video-player{
        width: 65%;
        height: auto;
    }
    .download{
        width: 18%;
    }
    .download img{
        width: 100%;
    }
}
@media only screen and (max-width:1004px){
    .feedback-container{
        height: 350px;
    }
}
@media only screen and (max-width:768px){
    .feedback-components{
        bottom: -200px;
    }
    .feedback-container{
        width: 95%;
        height: 350px;
    }
    .feedback-container .chevron-left{
        left: 0;
        top: 50%;
        transform: translateY(-50%)
    }
    .feedback-container .chevron-right{
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.next-feed-enter .feedback{
    transform: translateX(166.5px);
    z-index: 3;
    width: 112px;
    height: 112px;
}
.next-feed-enter-active .feedback{
    /* opacity: 1; */
    width: 191px;
    height: 191px;
    transform: translateX(0);
    transition: all 500ms;
}
.next-feed-exit .feedback{
    width: 191px;
    height: 191px;
    transform: translateX(0);
    z-index: 3;
}
.next-feed-exit-active .feedback{
    transform: translateX(-166.5px);
    width: 112px;
    height: 112px;
    transition: all 500ms ;
}
.next-feed-enter .img-right{
    transform: scale(0.5) translateX(20px);
    z-index: 2;
}
.next-feed-enter-active .img-right{
    transform: translateX(0);
    transition: all 500ms;
}
.next-feed-exit .img-right{
    opacity: 0;
    z-index: 1;
}
.next-feed-exit-active .img-right{
    opacity: 0;
    transform: scale(0.9);
    transition: all 300ms;
}
.next-feed-enter .img-left{
    opacity: 0;
    transform: scale(0.9);
    z-index: 1;
}
.next-feed-enter-active .img-left{
    opacity: 0;
    transform: translateX(0);
    transition: all 300ms;
}
.next-feed-exit .img-left{
    opacity: 1;
    z-index: 0;
}
.next-feed-exit-active .img-left{
    opacity: 0;
    transform: scale(0.5) translateX(15px);
    transition: all 300ms;
}

.pre-feed-enter .feedback{
    transform: translateX(-166.5px);
    z-index: 3;
    width: 112px;
    height: 112px;
}
.pre-feed-enter-active .feedback{
    /* opacity: 1; */
    width: 191px;
    height: 191px;
    transform: translateX(0);
    transition: all 500ms;
}
.pre-feed-exit .feedback{
    width: 191px;
    height: 191px;
    transform: translateX(0);
    z-index: 3;
}
.pre-feed-exit-active .feedback{
    transform: translateX(166.5px);
    width: 112px;
    height: 112px;
    transition: all 500ms ;
}
.pre-feed-enter .img-right{
    opacity: 0;
}
.pre-feed-enter-active .img-right{
    opacity: 0;
}
.pre-feed-exit .img-right{
    opacity: 1;
    z-index: 1;
}
.pre-feed-exit-active .img-right{
    opacity: 0;
    transform: scale(0.9) translate(-15px);
    transition: all 300ms;
}
.pre-feed-enter .img-left{
    opacity: 0;
    transform: scale(0.5);
    z-index: 1;
}
.pre-feed-enter-active .img-left{
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
}
.pre-feed-exit .img-left{
    opacity: 0;
    z-index: 0;
}
.pre-feed-exit-active .img-left{
    opacity: 0;
    transform: scale(0.5) translateX(15px);
    transition: all 300ms;
}

.feedback-slider{
    position: relative;
    margin-top: 30px;
}

.news-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.news-info{
    display: grid;
    grid-template-columns: 623px auto;
    grid-gap: 15px;
    margin-top: 30px;
}
.latestNews{
    padding-right: 15px;
    border-right: 0.5px solid rgba(148,154,160,255);
}
.latestNews img{
    width: 608px;
    height: 342px;
    object-fit: cover;
}
.news img{
    width: 192px;
    height: 108px;
    object-fit: cover;
}
.news{
    padding: 0 15px 15px 0px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto;
    margin-bottom: 30px;
    border-bottom: 0.5px solid rgba(148,154,160,255);
}
.news p{
    font-size: 13px;
    text-align: left;
    padding-top: 0;
}

@media only screen and (max-width: 1200px){
    .news-container{
        width: 100%;
    }
    .latestNews img{
        width: 100%;
        height: auto;
    }
    .news-info{
        width: 100%;
        grid-template-columns: 44.5% 44.5%;
    }
}
@media only screen and (max-width: 1024px){
    .latestNews{
        border-right: none;
        border-bottom: 0.5px solid rgba(148,154,160,255);
    }
    .news-container{
        margin-top: 120px;
    }
    .news-info{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }
    .news{
        grid-template-columns: 192px auto;
    }
}
@media only screen and (max-width: 768px){
    .news-container{
        margin-top: 230px;
    }
}





