.register-consult-container{
    width: 1200px;
    margin: 0 auto;
}
.register-consult{
    margin-top: 30px;
    padding: 30px 0;
    border-radius: 1rem;
}
.register-consult-title{
    background:  linear-gradient( rgba(0,157,232,255) , rgba(0,91,170,255));
    background-clip: text;
    color: transparent;
    text-shadow: 0 5px 15px rgba(41, 90, 149, 0.4);
}
.register-consult-form{
    margin-left: 20px;
}
.register-consult-form input[type=text], .register-consult-form  select, textarea{
    font-size: 16px;
    border-radius: 1rem;
    padding: 12px 20px;
    margin-bottom: 20px;
    margin-right: 1.5%;
    border: 1px solid rgba(0,91,170,255);
}
#name{
    width: 50%;
}
.gender{
    margin-left: 30px;
}
#dateOfBirth{
    width: 20%;
}
#phone{
    width: 25%;
}
#district, #city{
    width: 20%;
}
#address{
    width: 40%;
}
#content{
    width: 90.3%;
}
.register-consult-form button[type=submit]{
    display: block;
    border: none;
    border-radius: 1rem;
    padding: 12px 20px;
    background-color: rgba(246,139,31,255) ;
    margin: 0 auto;
    margin-bottom:20px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width:1200px) {
    .register-consult-container{
        width: 100%;
    }
}
@media only screen and (max-width:1004px) {
    #dateOfBirth{
        width: 25%;
    }
    #phone{
        width: 30%;
    }
    #district, #city{
        width: 25%;
    }
    #address{
        width: 56.5%;
    }
}
@media only screen and (max-width:768px) {
    .register-consult-form{
        margin-left: 10px;
    }
    #name{
        width: 40%;
    }
    .gender{
        width: 40%;
    }
    .register-consult{
        padding: 0 0;
    }
    #dateOfBirth, #phone, #district, #city, #address, #content {
        width: 80%;
        display: block;
    }
}