html {
  font-family: sans-serif;
}
body{
  margin: 0;
  min-width: 400px;
  /* max-width: 1920px; */
}

h3{
  margin-top: 0;
  font-size: 25px;
  text-transform: uppercase;
}
h4{
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 15px;
}
h5{
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
}
.h3-white, .h4-white, .p-white, .white{
  color: white;
}
.large{
  font-size: 25px;
}
h3,h4,h5, .blue{
  color: rgba(0,91,170,255);
}
p{
  margin-top: 0;
}
@media only screen and (max-width:1200px){
  .large{
    font-size: 20px;
  }
}
@media only screen and (max-width:1024px){
  h3{
    font-size: 20px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 13px;
  }
  .large{
    font-size: 18px;
  }
  p{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .chevron-left img{
    width: 40px;
}
  .chevron-right img{
    width: 40px;
}
}
@media only screen and (max-width:768px){
  .chevron-left img{
    width: 30px;
}
  .chevron-right img{
    width: 30px;
}
}

button{
  cursor: pointer;
}
a{
  text-decoration: none;
}
.text-center{
  text-align: center;
}
.underline img{
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
}
article{
  box-shadow: 0 5px 15px rgba(107, 107, 107, 0.4);
  background-color: white;
  background-color: white;
}
p, .grey{
  color: #79818b;
}
.uppercase{
  text-transform: uppercase;
}

/* navbar */
ul{
  list-style-type:none;
}
li a{
  text-decoration: none;
  text-transform: uppercase;
}
nav{
  padding: 15px 0;
  /* display: grid; */
  width: 1200px;
  margin: 0 auto;
  /* grid-template-columns: 30% 60% auto ; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li a{
  color: rgb(124, 124, 124) ;
  /* text-align: center; */
  font-size: 16px;
}
li .active{
  color: rgba(0,91,170,255);
}
.nav-links{
  padding-left: 0;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.nav-right{
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart{
  /* position: absolute;
  right: 0;
  transform: translateX(-200%); */
}
nav button{
  padding: 2px 10px;
  border: none;
  border-radius: 2rem;
}
.toggle-btn{
  display: none;
}

@media only screen and (max-width:1200px) {
  nav{
    width: 100%;
  }
}
@media only screen and (max-width:1024px) {
  nav li a{
    font-size: 13px;
  }
}
 
@media only screen and (max-width:768px) {
  .nav-right{
    width: 50%;
  }
  .nav-links{
    display: none;
  }
  .toggle-btn{
    display: block;
  }
  .nav-links-active{
    background-color: rgb(50, 50, 50);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 30%;
    height: 100%;
    padding: 0 15px;
    margin-top: 0;
    display: block;
    animation: nav-links-animation 500ms;
  }
  @keyframes nav-links-animation{
    from{
      transform: translateX(-100%);
    }
    to{
      transform: translate(0);
    }
  }
  
  .nav-links-active li{
    display: block;
    padding: 20px 0;
  }
  .nav-links-active a{
    color: white;
  }
  .medical-service:hover .medical-service-category{
    display: none;
  }
}

.medical-service{
  position: relative;
}
.medical-service-category{
  position: absolute;
  border-radius: 3px;
  width: 160%;
  opacity: 0;
}
.medical-service:hover .medical-service-category{
  height: 300px;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 2;
}
.link-title{
  margin-bottom: 30px;
}

footer{
  width: 100%;
  background-color: rgba(0,91,170,255);
  margin-top: 100px;
}
.footer-nav{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  /* column-gap: 30px; */
  grid-template-columns: 30% 70%;
}
.footer-nav ul{
  display: flex;
  justify-content: space-between;
}
.footer-nav a, .footer-container p{
  color: white;
}
.footer-container{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 405px auto;
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}
.footer-right-side{
  display: flex;
  justify-content: space-between;
}
footer{
  padding-top:30px;
  padding-bottom: 60px;
}
.social-image{
  padding-right: 15px;
}
@media only screen and (max-width:1200px) {
  .footer-nav{
    width: 100%;
  }
  .footer-container{
    width: 100%;
  }
}
@media only screen and (max-width:1004px) {
  .footer-nav{
    column-gap: 4%;
    grid-template-columns: 48% 48%;
  }
  .footer-nav ul{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    /* justify-content: space-between; */
  }
  .footer-container{
    column-gap: 4%;
    grid-template-columns: 48% 48%;
  }
  .footer-right-side{
    display: flex;
    flex-direction: column;
  }
}

.button-page-number-list{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.button-page-number-list button{
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 2rem;
}
.button-page-number-list .button-side, .button-page-number-list .button-next-page{
  border: 1px solid rgba(148,154,160,255);
  color: rgba(148,154,160,255);
}
.button-page-number-list .button-current{
  border: 1px solid rgba(0,91,170,255);
  color: rgba(0,91,170,255);
}
.content{
  margin-top: 30px;
}

.btn-left-fixed{
  position: fixed;
  top: 30%;
  z-index: 10;
}
.btn-left-fixed img{
  width: 180px;
}
.social-contact img{
  display: block;
  z-index: 10;
  width: 80px;
}
.social-contact{
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 10;
}
@media only screen and (max-width:1004px){
  .btn-left-fixed img{
    width: 120px;
  }
  .social-contact img{
    width: 60px;
  }
}